[checked_add]
overview = """
Checked integer addition. Computes `self + rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!((u24::MAX - 2_u24).checked_add(1_u24), Some(u24::MAX - 1_u24));
assert_eq!((u24::MAX - 2_u24).checked_add(3_u24), None);
"""

[checked_add_signed]
overview = """
Checked addition with a signed integer. Computes `self + rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(1_u24.checked_add_signed(2_i24), Some(3_u24));
assert_eq!(1_u24.checked_add_signed(-2_i24), None);
assert_eq!((u24::MAX - 2_u24).checked_add_signed(3_i24), None);
"""

[checked_sub]
overview = """
Checked integer subtraction. Computes `self - rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(1_u24.checked_sub(1_u24), Some(0_u24));
assert_eq!(0_u24.checked_sub(1_u24), None);
"""

[checked_sub_signed]
overview = """
Checked subtraction with a signed integer. Computes `self - rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(1_u24.checked_sub_signed(2_i24), None);
assert_eq!(1_u24.checked_sub_signed(-2_i24), Some(3_u24));
assert_eq!((u24::MAX - 2_u24).checked_sub_signed(-4_i24), None);
"""

[checked_mul]
overview = """
Checked integer multiplication. Computes `self * rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(5_u24.checked_mul(1_u24), Some(5_u24));
assert_eq!(u24::MAX.checked_mul(2_u24), None);
"""

[checked_div]
overview = """
Checked integer division. Computes `self / rhs`,
returning `None` if `rhs == 0`.
"""
examples = """
assert_eq!(128_u24.checked_div(2_u24), Some(64_u24));
assert_eq!(1_u24.checked_div(0_u24), None);
"""

[checked_div_euclid]
overview = """
Checked Euclidean division. Computes `self.div_euclid(rhs)`,
returning `None` if `rhs == 0`.
"""
examples = """
assert_eq!(128_u24.checked_div_euclid(2_u24), Some(64_u24));
assert_eq!(1_u24.checked_div_euclid(0_u24), None);
"""

[checked_div_exact]
overview = """
Checked integer division without remainder. Computes `self / rhs`,
returning `None` if `rhs == 0` or `self % rhs != 0`.
"""
examples = """
assert_eq!(64_u24.checked_div_exact(2_u24), Some(32_u24));
assert_eq!(64_u24.checked_div_exact(32_u24), Some(2_u24));
assert_eq!(65_u24.checked_div_exact(2_u24), None);
"""

[checked_rem]
overview = """
Checked integer remainder. Computes `self % rhs`,
returning `None` if `rhs == 0`.
"""
examples = """
assert_eq!(5_u24.checked_rem(2_u24), Some(1_u24));
assert_eq!(5_u24.checked_rem(0_u24), None);
"""

[checked_rem_euclid]
overview = """
Checked Euclidean modulo. Computes `self.rem_euclid(rhs)`,
returning `None` if `rhs == 0`.
"""
examples = """
assert_eq!(5_u24.checked_rem_euclid(2_u24), Some(1_u24));
assert_eq!(5_u24.checked_rem_euclid(0_u24), None);
"""

[checked_shl]
overview = """
Checked shift left. Computes `self << rhs`, returning `None`
if `rhs` is larger than or equal to the number of bits in `self`.
"""
examples = """
assert_eq!(0x1_u24.checked_shl(4), Some(0x10_u24));
assert_eq!(0x10_u24.checked_shl(129), None);
assert_eq!(0x10_u24.checked_shl(u24::BITS - 1), Some(0_u24));
"""

[checked_shr]
overview = """
Checked shift right. Computes `self >> rhs`, returning `None`
if `rhs` is larger than or equal to the number of bits in `self`.
"""
examples = """
assert_eq!(0x10_u24.checked_shr(4), Some(0x1_u24));
assert_eq!(0x10_u24.checked_shr(129), None);
"""

[checked_neg]
overview = """
Checked negation. Computes `-self`,
returning `None` unless `self == 0`.

Note that negating any positive integer will overflow.
"""
examples = """
assert_eq!(0_u24.checked_neg(), Some(0_u24));
assert_eq!(1_u24.checked_neg(), None);
"""

[checked_pow]
overview = """
Checked exponentiation. Computes `self.pow(exp)`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(2_u24.checked_pow(5), Some(32_u24));
assert_eq!(u24::MAX.checked_pow(2), None);
"""

[checked_next_power_of_two]
overview = """
Returns the smallest power of two greater than or equal to `self`.

If the next power of two is greater than the type's maximum value,
`None` is returned, otherwise the power of two is wrapped in `Some`.
"""
examples = """
assert_eq!(2_u24.checked_next_power_of_two(), Some(2_u24));
assert_eq!(3_u24.checked_next_power_of_two(), Some(4_u24));
assert_eq!(u24::MAX.checked_next_power_of_two(), None);
"""

[checked_next_multiple_of]
overview = """
Calculates the smallest value greater than or equal to `self` that is a multiple
of `rhs`. Returns `None` if `rhs` is zero or the operation would result in
overflow.
"""
examples = """
assert_eq!(16_u24.checked_next_multiple_of(8_u24), Some(16_u24));
assert_eq!(23_u24.checked_next_multiple_of(8_u24), Some(24_u24));
assert_eq!(1_u24.checked_next_multiple_of(0_u24), None);
assert_eq!(u24::MAX.checked_next_multiple_of(2_u24), None);
"""

[checked_ilog]
overview = """
Returns the logarithm of the number with respect to an arbitrary base, rounded down.

Returns `None` if the number is zero, or if the base is not at least 2.

This method might not be optimized owing to implementation details;
`checked_ilog2` can produce results more efficiently for base 2, and
`checked_ilog10` can produce results more efficiently for base 10.
"""
examples = """
assert_eq!(5_u24.checked_ilog(5_u24), Some(1));
"""

[checked_ilog2]
overview = """
Returns the base 2 logarithm of the number, rounded down.

Returns `None` if the number is zero.
"""
examples = """
assert_eq!(2_u24.checked_ilog2(), Some(1));
"""

[checked_ilog10]
overview = """
Returns the base 10 logarithm of the number, rounded down.

Returns `None` if the number is zero.
"""
examples = """
assert_eq!(10_u24.checked_ilog10(), Some(1));
"""

[checked_signed_diff]
overview = """
Checked integer subtraction. Computes `self - rhs` and checks if the result fits
into an [`int`], returning `None` if overflow occurred.
"""
examples = """
assert_eq!(10_u24.checked_signed_diff(2_u24), Some(8_i24));
assert_eq!(2_u24.checked_signed_diff(10_u24), Some(-8_i24));
assert_eq!(u24::MAX.checked_signed_diff(i24::MAX.cast_unsigned()), None);
assert_eq!(i24::MAX.cast_unsigned().checked_signed_diff(u24::MAX), Some(i24::MIN));
assert_eq!((i24::MAX.cast_unsigned() + 1_u24).checked_signed_diff(0_u24), None);
assert_eq!(u24::MAX.checked_signed_diff(u24::MAX), Some(0_i24));
"""
