[saturating_add]
overview = """
Saturating integer addition. Computes `self + rhs`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(100_u24.saturating_add(1_u24), 101_u24);
assert_eq!(u24::MAX.saturating_add(127_u24), u24::MAX);
"""

[saturating_add_signed]
overview = """
Saturating addition with a signed integer. Computes `self + rhs`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(1_u24.saturating_add_signed(2_i24), 3_u24);
assert_eq!(1_u24.saturating_add_signed(-2_i24), 0_u24);
assert_eq!((u24::MAX - 2_u24).saturating_add_signed(4_i24), u24::MAX);
"""

[saturating_sub]
overview = """
Saturating integer subtraction. Computes `self - rhs`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(100_u24.saturating_sub(27_u24), 73_u24);
assert_eq!(13_u24.saturating_sub(127_u24), 0_u24);
"""

[saturating_sub_signed]
overview = """
Saturating integer subtraction. Computes `self` - `rhs`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(1_u24.saturating_sub_signed(2_i24), 0_u24);
assert_eq!(1_u24.saturating_sub_signed(-2_i24), 3_u24);
assert_eq!((u24::MAX - 2_u24).saturating_sub_signed(-4_i24), u24::MAX);
"""

[saturating_mul]
overview = """
Saturating integer multiplication. Computes `self * rhs`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(2_u24.saturating_mul(10_u24), 20_u24);
assert_eq!((u24::MAX).saturating_mul(10_u24), u24::MAX);
"""

[saturating_div]
overview = """
Saturating integer division. Computes `self / rhs`,
saturating at the numeric bounds instead of overflowing.

# Panics

This function will panic if `rhs` is zero.
"""
examples = """
assert_eq!(5_u24.saturating_div(2_u24), 2_u24);
"""

[saturating_pow]
overview = """
Saturating integer exponentiation. Computes `self.pow(exp)`,
saturating at the numeric bounds instead of overflowing.
"""
examples = """
assert_eq!(4_u24.saturating_pow(3), 64_u24);
assert_eq!(u24::MAX.saturating_pow(2), u24::MAX);
"""
