[checked_add]
overview = """
Checked integer addition. Computes `self + rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!((i24::MAX - 2_i24).checked_add(1_i24), Some(i24::MAX - 1_i24));
assert_eq!((i24::MAX - 2_i24).checked_add(3_i24), None);
"""

[checked_add_unsigned]
overview = """
Checked addition with an unsigned integer. Computes `self + rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(1_i24.checked_add_unsigned(2_u24), Some(3_i24));
assert_eq!((i24::MAX - 2_i24).checked_add_unsigned(3_u24), None);
"""

[checked_sub]
overview = """
Checked integer subtraction. Computes `self - rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!((i24::MIN + 2_i24).checked_sub(1_i24), Some(i24::MIN + 1_i24));
assert_eq!((i24::MIN + 2_i24).checked_sub(3_i24), None);
"""

[checked_sub_unsigned]
overview = """
Checked subtraction with an unsigned integer. Computes `self - rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(1_i24.checked_sub_unsigned(2_u24), Some(-1_i24));
assert_eq!((i24::MIN + 2_i24).checked_sub_unsigned(3_u24), None);
"""

[checked_mul]
overview = """
Checked integer multiplication. Computes `self * rhs`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(i24::MAX.checked_mul(1_i24), Some(i24::MAX));
assert_eq!(i24::MAX.checked_mul(2_i24), None);
"""

[checked_div]
overview = """
Checked integer division. Computes `self / rhs`,
returning `None` if `rhs == 0` or the division results in overflow.
"""
examples = """
assert_eq!((i24::MIN + 1_i24).checked_div(-1_i24), Some(i24::MAX));
assert_eq!(i24::MIN.checked_div(-1_i24), None);
assert_eq!(1_i24.checked_div(0_i24), None);
"""

[checked_div_euclid]
overview = """
Checked Euclidean division. Computes `self.div_euclid(rhs)`,
returning `None` if `rhs == 0` or the division results in overflow.
"""
examples = """
assert_eq!((i24::MIN + 1_i24).checked_div_euclid(-1_i24), Some(i24::MAX));
assert_eq!(i24::MIN.checked_div_euclid(-1_i24), None);
assert_eq!(1_i24.checked_div_euclid(0_i24), None);
"""

[checked_exact_div]
overview = """
Checked integer division without remainder. Computes `self / rhs`,
returning `None` if `rhs == 0`, the division results in overflow,
or `self % rhs != 0`.
"""
examples = """
assert_eq!((i24::MIN + 1_i24).checked_exact_div(-1_i24), Some(i24::MAX));
assert_eq!(-5_i24.checked_exact_div(2_i24), None);
assert_eq!(i24::MIN.checked_exact_div(-1_i24), None);
assert_eq!(1_i24.checked_exact_div(0_i24), None);
"""

[checked_rem]
overview = """
Checked integer remainder. Computes `self % rhs`,
returning `None` if `rhs == 0` or the division results in overflow.
"""
examples = """
assert_eq!(5_i24.checked_rem(2_i24), Some(1_i24));
assert_eq!(5_i24.checked_rem(0_i24), None);
assert_eq!(i24::MIN.checked_rem(-1_i24), None);
"""

[checked_rem_euclid]
overview = """
Checked Euclidean modulo. Computes `self.rem_euclid(rhs)`,
returning `None` if `rhs == 0` or the division results in overflow.
"""
examples = """
assert_eq!(5_i24.checked_rem_euclid(2_i24), Some(1_i24));
assert_eq!(5_i24.checked_rem_euclid(0_i24), None);
assert_eq!(i24::MIN.checked_rem_euclid(-1_i24), None);
"""

[checked_shl]
overview = """
Checked shift left. Computes `self << rhs`, returning `None`
if `rhs` is larger than or equal to the number of bits in `self`.
"""
examples = """
assert_eq!(0x1_i24.checked_shl(4), Some(0x10_i24));
assert_eq!(0x1_i24.checked_shl(129), None);
assert_eq!(0x10_i24.checked_shl(i24::BITS - 1), Some(0_i24));
"""

[checked_shr]
overview = """
Checked shift right. Computes `self >> rhs`, returning `None`
if `rhs` is larger than or equal to the number of bits in `self`.
"""
examples = """
assert_eq!(0x10_i24.checked_shr(4), Some(0x1_i24));
assert_eq!(0x10_i24.checked_shr(128), None);
"""

[checked_neg]
overview = """
Checked negation. Computes `-self`,
returning `None` if `self == MIN`.
"""
examples = """
assert_eq!(5_i24.checked_neg(), Some(-5_i24));
assert_eq!(i24::MIN.checked_neg(), None);
"""

[checked_pow]
overview = """
Checked exponentiation. Computes `self.pow(exp)`,
returning `None` if overflow occurred.
"""
examples = """
assert_eq!(8_i24.checked_pow(2), Some(64_i24));
assert_eq!(i24::MAX.checked_pow(2), None);
"""

[checked_next_multiple_of]
overview = """
If `rhs` is positive, calculates the smallest value greater than or equal to
`self` that is a multiple of `rhs`. If `rhs` is negative, calculates the largest
value less than or equal to `self` that is a multiple of `rhs`. Returns `None`
if `rhs` is zero or the operation would result in overflow.
"""
examples = """
assert_eq!(16_i24.checked_next_multiple_of(8_i24), Some(16_i24));
assert_eq!(23_i24.checked_next_multiple_of(8_i24), Some(24_i24));
assert_eq!(16_i24.checked_next_multiple_of(-8_i24), Some(16_i24));
assert_eq!(23_i24.checked_next_multiple_of(-8_i24), Some(16_i24));
assert_eq!(-16_i24.checked_next_multiple_of(8_i24), Some(-16_i24));
assert_eq!(-23_i24.checked_next_multiple_of(8_i24), Some(-16_i24));
assert_eq!(-16_i24.checked_next_multiple_of(-8_i24), Some(-16_i24));
assert_eq!(-23_i24.checked_next_multiple_of(-8_i24), Some(-24_i24));
assert_eq!(1_i24.checked_next_multiple_of(0_i24), None);
assert_eq!(i24::MAX.checked_next_multiple_of(2_i24), None);
"""

[checked_ilog]
overview = """
Returns the logarithm of the number with respect to an arbitrary base, rounded down.

Returns `None` if the number is negative or zero, or if the base is not at least 2.

This method might not be optimized owing to implementation details;
`checked_ilog2` can produce results more efficiently for base 2, and
`checked_ilog10` can produce results more efficiently for base 10.
"""
examples = """
assert_eq!(5_i24.checked_ilog(5_i24), Some(1));
"""

[checked_ilog2]
overview = """
Returns the base 2 logarithm of the number, rounded down.

Returns `None` if the number is negative or zero.
"""
examples = """
assert_eq!(2_i24.checked_ilog2(), Some(1));
"""

[checked_ilog10]
overview = """
Returns the base 10 logarithm of the number, rounded down.

Returns `None` if the number is negative or zero.
"""
examples = """
assert_eq!(10_i24.checked_ilog10(), Some(1));
"""

[checked_abs]
overview = """
Checked absolute value. Computes `self.abs()`,
returning `None` if `self == MIN`.
"""
examples = """
assert_eq!(-5_i24.checked_abs(), Some(5_i24));
assert_eq!(i24::MIN.checked_abs(), None);
"""

[checked_isqrt]
overview = """
Returns the square root of the number, rounded down.

Returns `None` if `self` is negative.
"""
examples = """
assert_eq!(10_i24.checked_isqrt(), Some(3_i24));
"""
